*{
    padding: 0;
    margin: 0;
}

/* rem 根元素样式 */
html{
    font-size: 15px;
    font-family: "Helvetic Neue", Helvetica, Arial;
}

/*登入遮罩层*/
.wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid;
    z-index: 100;
    background: #cccccc;
}

.login{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 50px;
    padding: 3px;
    display: flex;
    display: -webkit-flex;
}

.login #nickname{
    border: none;
    height: 100%;
    text-indent: 10px;
    font-size: 1rem;
    flex: 7;
    margin: 0;
    font-weight: 600;
}

.login .comfirm{
    margin: 0 auto;
    border: none;
    font-size: 1rem;
    background: lightcoral;
    transition: background 1s;
    height: 100%;
    flex: 1;
    color: white;
    font-weight: 600;
}

.login .comfirm:hover{
    background: lightpink;
}

.chatBox{
    z-index: 99;
}

/*聊天panel*/
.chatPanel{
    width: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 50px;
    left: 0;
    background: #dddddd;
}

/*当前在线人数*/
.onlinePersons{
    width: 100%;
    border: 1px solid;
    padding: 5px 10px 0 10px;
    background-color: #E9AE6A;
    height: 30px;
    line-height: 25px;
    color: white;
}

.form{
    background: #000;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}

/*聊天输入框*/
.form input{
    height: 40px;
    border: none;
    text-indent: 10px;
    font-size: 1rem;
    margin: 3px 2px 3px 3px;
    flex: 9;
}

/*按钮*/
.form button{
    height: 40px;
    border: none;
    background: lightskyblue;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    text-align: center;
    line-height: 30px;
    margin: 3px 7px 3px 3px;
    transition: background 1s;
    flex: 1;
}

.form button:hover{
    background: lightcoral;
}

/*用户聊天信息*/
#message{
    font-size: 1rem;
    font-weight: 600;
}

#message li{
    margin: 6px 5px 6px 10px;
}

/*连接状态公共样式*/
.connectStatus{
    text-align: center;
    font-size: 1rem;
    width: 100%;
    transition: opcity 2s;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
}

/*用户连接态*/
.user-connects{
    background: #82A6F5;
    color: white;
}

/*用户断开态*/
.user-disconnects{
    background: #F17C67;
    color: white;
}

/*警告提示信息*/
.warnMsg{
    background-color: #FF534D;
    color: white;
}

.isTyping{
    color: white;
    background-color: #77C3CF;
}